*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  Font-family: 'helvetica neue', helvetica, arial, sans-serif;
}
html, body,
#root {
  height: 100%;
  width: 100%;
}
main {
  height: 100%;
  width: 100%;
  background-image: url(../public/moon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

